@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root{
    --main-color:#255459; 
    --secondary-color: #bf8f54; 
    --heading-font: 'Gloock', serif;
    --body-font:'PT Serif', serif;
} 

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
} 

h1, h2, button{
    font-family: var(--heading-font);
} 

p{
    font-family: var(--body-font);
}

header {
    position: absolute;
    top:0;
    width: 100%;
} 

#menu-toggle{
    display: none;  
    border:none;
} 

#list.active{
    display: flex; 
}

.logo{
    margin-top: 0.5rem;
}

nav {
    background-color: rgba(0, 0, 0, 0.666);
    padding: 0.625rem;
    display: flex;
    flex-direction: row;
    font-family: var(--heading-font);
    height: 3.125rem;
    justify-content: space-between;
} 

nav a {
   text-decoration: none; 
   color:var(--secondary-color);
} 

nav ul{ 
    display: flex;
    gap: 1.25rem;
    list-style-type: none;
} 

.hero{
    background-image: url(../images/hero.jpg);
    min-height: 45rem;
    background-size: cover;
    margin-top: 0; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
} 

.hero, h2, p{
    color: var(--secondary-color);
}
 
#about{
    display: flex;
    flex-direction: row; 
} 

.about-content{
    margin-top: 4.6875rem;
    margin-left: 10.9375rem;
}

.about-content p{
   max-width: 34.375rem; 
}

.drinks-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25rem;
} 

#drinks{
 background-color: var(--main-color);
}  

#drinks h2{
    margin: auto;
    text-align: center; 
    padding: 1.875rem;
}

.drink {
    position: relative;
}
.drink img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.drink:hover .drink-info {
    opacity: 1;
}
.drink-info{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(19, 33, 28, 0.414);
    transition: 0.4s ease-in-out; 
}  

.drink-info p{
    margin: 1.875rem; 
    color: white;
}

button{
    margin: 0;
    background-color: white; 
    color: var(--secondary-color);
    border-radius: 0.1875rem;
    border: none; 
    padding: 0.3125rem;
} 

#more{
    margin: 1.5625rem;
    margin-left: 46.5625rem;
}

.hero-bottom{
    background-image: url(../images/bottom.jpg);
    min-height: 40rem;
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
} 

.hero-bottom p{
    text-align: center;
    max-width: 62.4375rem; 
    text-shadow: 0.0625rem 0.0625rem 0.125rem #000;
    color: white; 
} 

@media screen and (max-width: 48em){
    .hero{
        background-image: url(../images/hero.jpg);
        background-size: cover;
        background-position: center;
        margin-top: 0; 
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
    } 
    
    .hero p{
        text-shadow: 0.0625rem 0.0625rem 0.125rem #000;
    }

    #about{
        display: flex;
        flex-direction: column-reverse; 
    } 

    .about-content{
        margin: auto;
    } 

    #more{
        margin: 1.5625rem;
        margin-left: 23.125rem;
    }
    
    .hero-bottom p{
        max-width: 40.625rem; 
        color: white;
    }
} 

@media screen and (max-width: 30em){
    #list{
        display: none;
        flex-direction: column;
        position: absolute; 
        background-color: rgba(0, 0, 0, 0.822); 
        padding: 1.25rem; 
        border-radius: 0.625rem;
    } 

    #menu-toggle{
        display: block;
    } 

    #menu.active{
        display: flex; 
    }
    
    .hero{
        background-image: url(../images/hero.jpg);
        background-size: cover;
        background-position: center;
        margin-top: 0; 
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
    } 

    .about-content{
        max-width: 21.875rem; 
    }

    .drinks-gallery {
        display: grid; 
        grid-template-columns: 1fr
    } 
    
    #more{
        margin: 1.5625rem;
        margin-left: 12.5rem;
    }

    .hero-bottom p{
        max-width: 21.875rem; 
        color: white;
    }
} 

@media screen and (min-width: 87em){
    .hero-bottom{
        min-height: 34rem;
    }
}